@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #141414;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

.blueBox {
    background-color: #011765;
}

.greenBox {
    background-color: #357900;
}

.text-Project {
    color: white;
    text-align: center;
}

.botao-Projeto {
    background-color: #1e293b;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-inline: 20px;
    padding-block: 8px;
    border-radius: 4px;
}

.botao-OtherProjects {
    background-color: #1e293b;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 0.5rem;
    border-radius: 4px;
}

.box-Project {
    background-color: #202026;
    border-radius: 5px;
    border: 2px solid #3c3c3c;
    padding-block: 40px;
}

.apresentationBlock {
    color: white;
}

@media (min-width: 1024px) {
    .botao-Projeto:hover,
    .botao-OtherProjects:hover {
        background-color: #6b21a8;
    }
}